<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dailystudio"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application/>

</manifest>
